*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display:flex;
    gap:20px;
    margin-right: 40px;
}
.menu>a{
    display:flex;
    text-decoration:none;
    color: black;
    font-size:20px;
    
}
.header>.menu>a:hover{
    color:orange;
}

/* body */
.main{
    display:flex;
    gap: 60px;
    margin-left: 140px;

    /* justify-content: center; */
    flex-wrap: wrap;
}
[class^="main_"]{
    border: 5px solid grey;
    padding:10px;
    border-radius: 20px;
    background-color: grey;
}
[class^="main_"]:hover{
    border-color: brown;
}

.main>p{
    display:flex;
    justify-content: center;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 30px;
}
.socials{
    display: flex;
    gap:10px;
    
}